*,*::after,*::before
{
    margin:0; 
    padding:0;
    box-sizing: border-box; 
}  

body
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw; 

}

:root 
{ 
    --primary-color: rgb(33, 90, 141); 
}

body::-webkit-scrollbar 
{
  background-color: rgb(255, 255, 255);
} 

body::-webkit-scrollbar-track
{ 
    box-shadow: inset 0px 0px 50px ;

} 

body::-webkit-scrollbar-thumb
{ 
    background-color: var(--primary-color);
    border: #fff;
    
} 

body::-webkit-scrollbar-corner 
{
    display: none;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(14, 14, 14, 0.089); 
    width:100vw; 
    height: auto;
} 

#sec-1 , #sec-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.container-1 
{

    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    justify-content: center;
    height: 100vh; 
    background-color: rgb(255, 255, 255);
    max-width: 80%;
}   

#title
{
    color:var(--primary-color); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500; 
    margin: 0.5em 1em;  
    font-size:1.5em; 
} 

#description
{ 
  color: #333; 
  padding: 1em 2em;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: start;
}

.slideshow
{  
     position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
    height: 50vh;  
    overflow: hidden; 
    box-shadow: 0px 0px 9px rgb(31, 4, 4) ;
    transition: all 1s ease-out;

}  
 
.slideshow img 
{  
   position:absolute; 
   width: 100%;
   height: 100%; 
   transition: all 1s ease-in-out;
   z-index: 1;

}  

#short-text 
{   
    position: absolute;
    color:var(-primary-color); 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 0em 1em; 
    margin:0 2em;
    font-size: 1.5em; 
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
} 

a{
    text-decoration: none;
    color :var(-primary-color);
 }

#start-btn 
{
    margin-top: 1.5em; 
    border: none;
    background-color: rgb(245, 245, 245);  
    padding: 0.9em 2.5em;
    margin-bottom: 1.5em;
    color:var(--primary-color); 
    font-weight: 100; 
    font-size: 16px;  
    box-shadow: 0px 0px 9px;
    border-radius: 10px;
    border: 1px solid #000;  
    cursor: pointer;
} 

#start-btn:hover
  {   
      color: #fff;
      transition: all 2s ease-in;
      background-color: var(--primary-color);
      box-shadow: 0px 0px 9px rgb(31, 4, 4); 
      border: 1px solid #fff; 
      
  }  

.container-2
{ 
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 80%;
    padding: 4em 1em; 
    box-shadow: inset 0px 0px 9px ; 
  
  
}   

.display
{
    display: none;
}

#survey-form
{ 
    display:flex; 
    flex-direction: column;
    width: 80%;
} 

label
{
    display: block; 
    padding: 5px; 
    font-size: large;
    font-weight: 900; 

} 

input
{
    margin:0.6em 1em; 
}  

fieldset
{
    margin: 1em 0em;
    padding: 1em 0em;
} 

legend
{   
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: 0em 10px ;
}

#submit
{
    margin-top: 1.5em; 
    border: none;
    background-color: rgb(245, 245, 245);  
    padding: 0.9em 2.5em;
    margin-bottom: 1.5em;
    color:var(-primary-color); 
    font-weight: 100; 
    font-size: 16px;  
    box-shadow: 0px 0px 9px;
    width:100%; 
    border: 1px solid #000;  
    cursor: pointer;
}

#submit:hover
  {   
      color: #fff;
      transition: all 2s ease-in;
      background-color: var(--primary-color);
      box-shadow: 0px 0px 9px rgb(31, 4, 4); 
      border: 1px solid #fff; 
      
  } 

  textarea
  {
      width:100%; 
  }

  .contact
  {   
      position: relative;
      width:100%;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 1em 1.6em;
  } 

  #input-block
  {
      position: absolute;
      
  }

  #input-blocks input
  {  
      border: none;
      padding: 0 1em;
      width: 100%;
      height:2em;
      border-radius: 0.2em;
      margin-right: 7em;
      box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
  }

  #dropdown 
    { 
       padding: 1.5%; 
       font-size:medium;
    }
  textarea
  {
      padding: 2%; 
      color:rgba(0, 0, 0, 0.753); 
      font-size: large; 
      font-family: 'Courier New', Courier, monospace;
  } 

  .modal-container
  {
      position:fixed;
      top:0;
      left:0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 200;
      background-color: #fff;
      height: 100vh;
      width: 100vw;
      opacity: 0;
      background-color: rgba(10, 9, 9, 0.692); 
      pointer-events: none; 
      transition: all 1s ease;
  } 
  
  .show 
  { 
      opacity: 1; 
      pointer-events: auto; 
  }

  .modal
  {   

      display:grid; 
      grid-template-rows: 3fr 3fr 1fr;
      justify-items: center;
      align-items: center;
      height: 70%; 
      width:60%;  
      max-height: 100%; 
      max-width: 500px;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.753);
      background-color: rgba(255, 255, 255, 0.87);
      border-radius: 9px;  
     
     
  }  

  .circle-div 
  { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      width: 30%;
      height: 70%; 
      max-width: 200px;
     
  }

  .circle 
  {   
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 7px solid rgb(0, 240, 32);
      height: 100%; 
      width:100%; 
      border-radius: 50%;
  } 

  .circle .fa-check
  { 
      color:rgb(0, 240, 32); 
      animation: animation-name 5s infinite;
      transform: scale(1);
            
            @keyframes animation {
                10% {
                    transform: scale(2);
                }

                20% {
                    transform: scale(1);
                }
            }
  }

  .modal-title
  { 
      padding: 1em 1em;  
      font-size: 1.4em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 

  .modal-text 
  { 
      max-width: 80%; 
      margin-bottom: 2em; 
      font-family:'Times New Roman', Times, serif; 
  }  

  .modal-para
  { 
      font-size: 1.2em; 
      padding-bottom: 0.6em;

  }

  #dismiss-btn
   { 
       border: none;
       background-color: var(--primary-color); 
       color: antiquewhite;
       padding:0.6em 2em; 
       border-radius: 5px; 
       font-size: 1.2em;
       margin-bottom: 5%;
   }



@media screen and (max-width: 760px)
{ 
    .container-1
    {
            width: 100vw;  
            max-width: 100vw;
    } 

    .container-2
    {
            width: 100vw;  
            max-width: 100vw;
    } 

    .slideshow 
    {
            width:90%; 
            height: 60vh;
    } 

    #short-text 
    {
            font-size: 1.5em;
            font-weight: lighter;
            font-family: 'Courier New', Courier, monospace;
            padding: 0px 1.5em; 
            color:rgb(13, 57, 95);
    }  

    #survey-form 
    { 
        width:95%;
    } 

    label 
     {
         font-size: 16px; 
     }
     
    fieldset 
    { 
        font-size: 16px;
    }

    legend 
    {   font-size: 16px;
        text-align: center;
        padding: 0em 1.5em;
        
    } 
    .circle-div
    { 
        width:30%; 
        height: 60%;
    } 
    .modal-title
    {
        font-size: 1.3em;
    } 

    .modal-para
    { 
        font-size: 1em;
    }
          
} 

@media screen and (max-width: 540px)
{   
     #title
     {
         font-size: 14px;
     } 

     #description
     { 
         font-size: 12px; 
     } 
     
     #short-text
      {
          font-size: 13px;
      } 

    #start-btn
     { 
         padding: 5px 10px;
     } 

     .container-2
     {
        width: 100vw;  
        max-width: 100vw;
     } 
     
     #survey-form
      {
          width:100%;
      } 

      label 
      {
          font-size: 14px;
      } 

      legend
       {
           font-size: 15px;
       }
      fieldset 
      { 
          font-size: 15px;
      }
    

    .circle-div
    { 
        width:40%; 
        height: 70%;
    } 
    .modal-title
    {
        font-size: 1em;
    } 

    .modal-text
    { 
        margin-bottom: 1em;
    }

    .modal-para
    { 
        font-size: 13px;
    } 
    #dismiss-btn
    {   
       font-size: 13px;
       padding: 0.2em 0.4em;
    } 

    body::-webkit-scrollbar
    {
        display: none;
    } 

    .modal-container
    { 
        opacity: 1; 
    }
    .modal-text
     {
         font-size: 12px;
     }
    
} 

